
.box1{

    width: 1000px;
    height: 500px;
    border: 1px solid rgb(255, 255, 255);
    margin:100px 140px;
    background-color: hsl(30, 38%, 92%);
  
}
.box2{
    border: 1px solid black;
    width: 400px;
    height: 350px;
    margin: 77px 300px;
    display: flex;
    border-radius: 10px;
    background-color: white;
    border: none;

}
.box3{
    width: 200px;
    height: 350px;
    border: 1px solid white;
    border-radius: 4px;
}
p{
    font-size: 15px;
    margin-left: 30px;
}
h2{
    margin-left: 20px;
}
p{
    margin-left: 15px;
    font-size: 10px; 
}
h3{
    margin-left: 15px;
    font-size: 20px;
    display: inline-block;
    margin-top: 2px;
    color: green;
}
h4{
    display: inline-block;
    font-size: 10px;
}
button{
    color: white;
    width: 155px;
    height: 40px;
    border:none;
    margin-left: 20px;
    border-radius: 8px;
    background-color: rgb(0, 87, 0);
  
}
body{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}